button {
    margin: 10px;
    background-color: rgb(144,238,144);
}

button:hover {
    background-color: rgb(96, 216, 96);
}

button:active {
    background-color: rgb(96, 216, 96);
}

button:focus {
    background-color: rgb(96, 216, 96);
}
mat-card-header {
    display: flex;
    justify-content: center;
}

mat-list .filter-heading {
    display: flex;
    justify-content: center;
}

mat-list .buttons {
    display: flex;
    justify-content: center;
}

mat-card {
    background-color: white;
}